html,
body {
    height: 100%;
}

body {
    background-color: beige;
    margin: 0;
    font-family: sans-serif;
    color: White;
    display: flex;
    flex-direction: column;
}

#main {
    flex: 1 0 auto;
    margin: 30px;
}

#content {
    margin: 0 auto;
    max-width: 740px;
    background-color: DarkSlateGray;
    padding: 30px;
}

audio,
table,
code {
    width: 100%;
}

th {
    padding: 10px;
    text-align: left;
}

td {
    background-color: Dimgray;
    padding: 10px;
    text-align: right;
}

footer {
    padding: 0 30px;
    flex-shrink: 0;
    background-color: DarkSlateGray;
}

a {
    color: Beige;
}

h1, h2{
    position: relative;
    overflow: hidden;
}

h2 {
    height: 30px;
}

h1 button, h2 button {
    position: absolute;
    right: 0;
    height: 100%;
}


#message{
    background-color:lightsalmon;
    color: DarkSlateGray;
    padding: 12px;
}

#message:empty{
    display:none;
}
